{% extends 'main/base.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}
<h1>О КОМПАНИИ</h1>
<h3>Всегда готовы быстро сократить ссылку</h3>
<div style="margin-top: 50px;">
    <p style="padding: 0 20%;">
        Компания сократим.ру появилась в начале 2022 года и уже успела зарекомендовать себя с хорошей стороны, с точки зрения 
        предоставления сервиса. Быстрая и стабильная работа сервиса обеспечивает нашим пользователям бесперебойный доступ к ресурсу и его функционалу.
    </p>
    <br><br>
    <h3>info@сократим.ру</h3>
</div>
{% endblock %}